@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


.background{
    background-image: linear-gradient(to bottom, #2a8ffe 30%, #5E96D7 100%);
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 32px;
    font-family: 'SUITE-Regular';
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.loading{
    position:relative;
    top:50%;
    left:50%;
}

  
@keyframes mulShdSpin {
0%,
100% {
    box-shadow: 0 -3em 0 0.2em, 
    2em -2em 0 0em, 3em 0 0 -1em, 
    2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 0;
}
12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
}
25% {
    box-shadow: 0 -3em 0 -0.5em, 
    2em -2em 0 0, 3em 0 0 0.2em, 
    2em 2em 0 0, 0 3em 0 -1em, 
    -2em 2em 0 -1em, -3em 0 0 -1em, 
    -2em -2em 0 -1em;
}
37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
    -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
}
50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
    -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
}
62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
    -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
}
75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
}
87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
}
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility:visible
    }
}

.loader {
    position:absolute;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s 1.8;
    transform: translateZ(0);
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    visibility:hidden;
    transform: translate(-50%,-50%);
    font-size: 32px;
    font-family: 'SUITE-Regular';
    font-weight: 100;
    color: white;
    animation: fadein 4s;
    animation-delay: 2s;
}

.room{
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    visibility:hidden;
    flex-direction: column;
    gap: 50px;
    transform: translate(-50%,-50%);
    color: white;
    animation: fadein 4s forwards;
    animation-delay: 6s;
}

.room_2{
    position: relative;
    display: flex;
    left: 50%;
    width:300px;
    flex-direction: row;
    transform: translate(-50%,-50%);
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.room_text{
    position: relative;
    font-size: 32px;
    font-family: 'SUITE-Regular';
    font-weight: 100;   
    text-align: center;
    color: white;
}

.room_complete{
    position: relative;
    width:120px;
    height:40px;
    background-color: transparent;
    color:white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'SUITE-Regular';
    border:0px;
}

.sign-out{
    position: absolute;
    background-color: white;
    z-index: 2;
}

.room_input{
    position: relative;
    font-size: 15px;
    border: 0;
    color:#fff;
    font-size: 32px;
    font-family: 'SUITE-Regular';
    text-align: center;
    width:100px;
    outline: none;
    padding-left: 10px;
    border-bottom: #fff solid 1px;
    background-color: transparent;
}
