canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #2a8ffe 30%, #5E96D7 100%);
    z-index: 0;
    overflow: hidden;
}

.chat{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
    color: white;
    pointer-events: none; 
    /* This is important to make the chat not clickable */
}